<%- include("partials/header.ejs") %>

    <section id="home">
        <div class="container col-xxl-8 px-4 py-5 my-8 flex justify-content-center align-items-center">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="images/blog.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                        height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Create your own blog</h1>
                    <p class="lead text-center"> Share your story with the world. Stand out with a
                        professionally-designed
                        blog website that can be customized to fit your brand. Build, manage, and promote your blog with
                        Squarespace’s built-in suite of design and marketing tools</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                        <a href="/create_blog"><button type="button"
                                class="btn btn-primary btn-lg px-4 me-md-2 align-items-center justify-content-center">Get
                                Started</button></a>
                        <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="features container px-4 py-5">
            <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
                <div class="col d-flex flex-column align-items-start gap-2">
                    <h2 class="fw-bold text-body-emphasis">Some of the awesome features which we provide</h2>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll
                        add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <!-- <a href="#" class="btn btn-primary btn-lg">Primary button</a> -->
                </div>

                <div class="col">
                    <div class="row row-cols-1 row-cols-sm-2 g-4">
                        <div class="col d-flex flex-column gap-2">
                            <div
                                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#collection"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.
                            </p>
                        </div>

                        <div class="col d-flex flex-column gap-2">
                            <div
                                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#gear-fill"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.
                            </p>
                        </div>

                        <div class="col d-flex flex-column gap-2">
                            <div
                                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#speedometer"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.
                            </p>
                        </div>

                        <div class="col d-flex flex-column gap-2">
                            <div
                                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#table"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer.ejs") %>