body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: black;
  padding: 50px;
  width: 500px;
  margin: 0 auto;
  background-color:white;
  text-align: center;

}

h1 {
  font-size: 50px;
}

.App {
  margin: 80% auto;
}

button {
  margin-top: 150px;
  cursor: pointer;
  display: inline-block;
  background-color: #6bbe92;
  border: 0;
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
}


